* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
    /* Largura da scrollbar */
    background: transparent;
    /* Fundo da scrollbar */
}

header {
    width: 100%;
    height: 10.5vh;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: rgb(29, 29, 29);
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 42px;
    letter-spacing: 1px;
}

#logo a {
    color: white;
    text-decoration: none;
}

#tech {
    color: #00e9f1;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
}

.nav-list {
    gap: 30px;
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-list.active {
    transform: translateX(0);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-link.active {
    color: #00e9f1;
}

.nav-link:hover {
    color: #00e9f1;
}

.nav-list li {
    position: relative;
}

.nav-link.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #00e9f1;
    width: 100%;
    position: absolute;
    bottom: -29px;
    left: 0;
}

#login {
    border: solid 2px white;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#login:hover {
    background-color: #00e9f1;
    color: black;
}

main {
    background-color: rgb(145, 53, 53);
    height: auto;
    width: 100%;
    padding-top: 10.5vh;
}

footer {
    background-color: burlywood;
    height: 100px;
    width: 100%;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 10.5vh;
        right: 0;
        width: 40vw;
        height: 89.5vh;
        background-color: rgb(29, 29, 29);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list li {
        margin-left: -40px;
        opacity: 0;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}