/* =================== RESET E VARIÁVEIS =================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor0: #222222;
    --cor1: #19B5FE;
    --cor2: #203742;
    --cor3: #393939;
    --cor4: #111111;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: var(--cor0);
}

/* =================== HEADER =================== */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: var(--cor0);
}

.logo {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.logo:hover {
    color: white;
}

strong {
    color: var(--cor1);
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--cor1);
}

.login {
    text-decoration: none;
    text-transform: uppercase;
    border: solid 2px #ADB7BE;
    padding: 15px 25px;
    border-radius: 5px;
}

.login:hover {
    color: var(--cor1);
    border: solid 2px var(--cor1);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--cor0);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

@media (max-width: 900px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 10vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        background: var(--cor0);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        margin: 5vh;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ------------------------------------ */

main {
    padding-top: 10vh;
}

.carrossel {
    position: relative;
    width: 80%;
    aspect-ratio: 16/6;
    overflow: hidden;
    margin: auto;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anterior,
.proximo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.anterior {
    left: 10px;
}

.proximo {
    right: 10px;
}

/* ========================== SERVIÇOS ========================== */
#produtos {
    padding: 150px 20px;
}

.info>h1 {
    text-transform: uppercase;
    color: var(--cor2);
    text-align: center;
    font-size: 55px;
}

.info>p {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-weight: bold;
}


.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* opcional, só para espaçar */
}

.link-container>a {
    display: inline-block;
    text-decoration: none;
    color: var(--cor1);
}

.link-container>a:hover {
    text-decoration: underline;
}

main>#produtos>#sessao-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    gap: 20px;
}

main>#produtos>#sessao-produtos>a {
    height: 220px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor3);
    text-decoration: none;
}

main>#produtos>#sessao-produtos>a:hover {
    box-shadow: 0px 0px 10px var(--cor1);
}

main>#produtos>#sessao-produtos>a>.produtos>img {
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    height: 150px;
    width: 200px;
    margin: auto;

}

main>#produtos>#sessao-produtos>a>.produtos>p {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

/* ========================== SERVIÇOS ========================== */

main #servicos {
    padding-bottom: 150px;
}

@media (max-width: 768px) {
    .sessao-servicos {
        flex-direction: column;
    }

    img,
    h1,
    p {
        width: 100%;
    }
}

main>#servicos>.sessao-servicos {
    padding: 20px 150px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

main>#servicos>.sessao-servicos>a {
    flex: 0 1 calc(50% - 20px);
    /* ocupa metade do espaço, com gap considerado */
    height: auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor3);
    text-decoration: none;
    text-align: justify;
}

main>#servicos>.sessao-servicos>a:hover {
    box-shadow: 0px 0px 10px var(--cor1);
}


main>#servicos>.sessao-servicos>a>.servicos {
    display: flex;
    align-items: center;
}

@media (max-width: 1100px) {
    main>#servicos>.sessao-servicos>a>.servicos {
        flex-direction: column;
    }

    main>#servicos>.sessao-servicos>a>.servicos>img {
        margin-right: 0;
        /* Remove o espaço lateral */
        margin-bottom: 10px;
        /* Dá um espaçozinho embaixo da imagem */
    }

    main>#servicos>.sessao-servicos>a>.servicos>div {
        align-items: center;
        /* Centraliza o texto no mobile */
        text-align: center;
    }
}

main>#servicos>.sessao-servicos>a>.servicos>img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    /* Para adicionar um espaço entre a imagem e o texto */
}

main>#servicos>.sessao-servicos>a>.servicos>div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

main>#servicos>.sessao-servicos>a>.servicos>div>h1 {
    width: 100%;
    margin-bottom: 20px;
}

/* ========================== CONTATOS ========================== */
.container-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 170px;
}

@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
    }

    #esquerda,
    #direita {
        width: 100%;
    }
}

#esquerda {
    width: 30vw;
    background-color: var(--cor0);
    padding: 20px;
}

@media (max-width: 768px) {
    #esquerda {
        width: 100%;
        max-width: none;
        padding: 20px;
    }
}

#esquerda p {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

#esquerda h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#esquerda>a {
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

#esquerda>a>h1 {
    color: white;
    text-decoration: none;
}

#esquerda>a>h1>strong {
    color: var(--cor1);

}

#esquerda img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

#esquerda div {
    margin-bottom: 20px;
}

/* ============================================================= */

#direita {
    width: 50vw;
    background-color: var(--cor0);
    padding: 20px 40px;
}

@media (max-width: 768px) {
    #direita {
        width: 100%;
        max-width: none;
        padding: 20px;
    }
}

#direita>P {
    color: white;
}

.input-group {
    display: flex;
    gap: 20px;

}

.input-group>input {
    width: 50%;
    background-color: var(--cor3);

}

input {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    background-color: var(--cor3);
    border: none;
    color: white;

}

textarea {
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    resize: none;
    background-color: var(--cor3);
    height: 100px;
    border: none;
    color: white;

}

main>#contatos button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 20px;
    width: 20vw;
    border: none;
    color: white;
    background-color: var(--cor1);
}

main>#contatos button:hover {
    background-color: var(--cor4);
}



/* ============================================================= */

footer {
    background-color: var(--cor4);
    padding: 40px 80px;
}

footer h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 20px;
}

.ds {
    color: white;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 1.8;
    min-width: 360px;
}

footer a {
    color: var(--cor2);
}

small {
    color: var(--cor3);
}


/* Cores para HTML, CSS e JS */
.m1 {
    color: #e44d26;
}

.m2 {
    color: #264de4;
}

.m3 {
    color: #f7df1e;
}